* {
  margin: 0;
  padding: 0; }

/* Estilos Basicos */
body {
  background-color: black;
  font-family: "Abel", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h1 {
  color: #55b999;
  font-size: 25px; }

h2 {
  color: #55b999;
  font-size: 20px; }

h3 {
  color: #ebebeb;
  font-size: 15px; }

.link {
  color: #55b999; }

label {
  color: #ebebeb;
  font-size: 17px; }

.contacto h2 {
  color: #ebebeb;
  font-size: 17px; }

main .bio .parrafo-main p a:hover, footer .footer-flex ul li a:hover {
  color: #86edcd;
  cursor: pointer;
  transition: 300ms; }

.main-blog .titulo-blog, .main-tabs h1, .contacto h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px; }

.videos .canales-yt .canal-a img:hover, .videos .canales-yt .canal-bs img:hover {
  opacity: 0.8;
  filter: grayscale(100%);
  scale: 0.95;
  transition: 200ms; }

/* Header */
.header {
  position: sticky;
  top: 0px;
  z-index: 1; }
  .header .bg-menu {
    background-image: url("../multimedia/background.jpg");
    font-family: "Abel", sans-serif;
    width: 100%; }
    .header .bg-menu .nombre-nav {
      color: #55b999;
      font-size: 25px; }
      .header .bg-menu .nombre-nav:hover {
        color: #86edcd;
        scale: 0.98;
        transition: 350ms; }
    .header .bg-menu .font-nav {
      color: #ebebeb;
      font-size: 20px; }
      .header .bg-menu .font-nav:hover {
        color: #55b999;
        scale: 0.98;
        transition: 350ms; }
    .header .bg-menu .nav-item {
      margin-right: 3rem; }

/* Main Index */
main .bio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .bio {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 0; } }
  main .bio .titulo-bio {
    margin-left: 32%;
    margin-top: 3rem;
    font-size: 60px; }
    @media screen and (max-width: 992px) {
      main .bio .titulo-bio {
        margin-left: 0;
        margin-top: 3rem; } }
  main .bio .parrafo-main {
    color: #ebebeb;
    text-align: left;
    font-size: 17px;
    grid-row-start: 2;
    margin-left: 32%; }
    @media screen and (max-width: 992px) {
      main .bio .parrafo-main {
        width: 50%;
        text-align: center;
        grid-row-start: 2;
        margin-left: 0; } }
  main .bio .foto-main {
    grid-row: span 3;
    margin-top: 6rem; }
    @media screen and (max-width: 992px) {
      main .bio .foto-main {
        margin-top: 1rem;
        grid-row-start: 3; } }
    @media screen and (max-width: 576px) {
      main .bio .foto-main {
        grid-row-start: 4;
        margin-bottom: 2rem;
        display: none; } }
    main .bio .foto-main img {
      width: 60%;
      margin-top: 1rem;
      margin-left: 10%;
      border-radius: 5%;
      box-shadow: 2px 2px 5px #161616; }
      @media screen and (max-width: 992px) {
        main .bio .foto-main img {
          width: 35%;
          margin-left: 34%;
          margin-top: 0px; } }
  main .bio .spotify {
    grid-row-start: 3;
    margin-left: 34%;
    margin-top: 2rem; }
    @media screen and (max-width: 992px) {
      main .bio .spotify {
        grid-row-start: 4;
        margin-right: 31%;
        margin-top: 3rem; } }
    @media screen and (max-width: 576px) {
      main .bio .spotify {
        grid-row-start: 3; } }
    main .bio .spotify h2 {
      text-align: center;
      color: #ebebeb; }
    main .bio .spotify .spotify-player {
      width: 100%; }
      @media screen and (max-width: 992px) {
        main .bio .spotify .spotify-player {
          width: 100%;
          height: 20rem; } }
  main .bio .noticias {
    grid-row-start: 5;
    grid-column: span 2; }
    @media screen and (max-width: 992px) {
      main .bio .noticias {
        margin-left: 4%; } }
    main .bio .noticias h2 {
      text-align: center;
      font-size: 40px; }
      @media screen and (max-width: 992px) {
        main .bio .noticias h2 {
          margin-top: 2rem; } }
    main .bio .noticias .texto-noticias {
      margin-top: 20px;
      margin-left: 20%;
      margin-right: 20%;
      padding: 10px;
      color: #ebebeb;
      text-align: center;
      font-size: 17px;
      overflow: auto; }

/* Main Videos */
.videos {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .videos .titulo-video {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px; }
  .videos .subtitulo {
    font-size: 25px;
    text-align: center;
    color: #ebebeb;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px; }
  .videos .canales-yt {
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 992px) {
      .videos .canales-yt {
        flex-direction: column; } }
    .videos .canales-yt .canal-a img {
      width: 310px;
      height: 200px;
      margin-left: 0; }
      @media screen and (max-width: 992px) {
        .videos .canales-yt .canal-a img {
          margin-left: 2.5rem;
          margin-bottom: 2rem; } }
      @media screen and (max-width: 420px) {
        .videos .canales-yt .canal-a img {
          margin-left: 1rem;
          width: 300px;
          height: 190px; } }
    .videos .canales-yt .canal-bs img {
      width: 340px;
      height: 230px;
      margin-left: 2.5rem; }
      @media screen and (max-width: 420px) {
        .videos .canales-yt .canal-bs img {
          margin-left: 1rem;
          width: 300px;
          height: 190px; } }
  .videos .iframes {
    display: flex;
    margin-left: 1%; }
    @media screen and (max-width: 992px) {
      .videos .iframes {
        flex-direction: column;
        align-items: center; } }
    .videos .iframes iframe {
      width: 390px;
      height: 250px;
      margin-left: 1rem;
      padding: 1rem; }
      @media screen and (max-width: 420px) {
        .videos .iframes iframe {
          margin-left: 0;
          width: 350px; } }

/* Main Blog */
.main-blog .blog-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-blog .blog-article .subtitulo-blog {
    font-size: 25px;
    text-align: center;
    color: #ebebeb;
    padding: 10px;
    margin-bottom: 10px; }
  .main-blog .blog-article .img-blog {
    width: 400px;
    height: 400px;
    animation: animacion-blog 6s infinite; }
    @media screen and (max-width: 420px) {
      .main-blog .blog-article .img-blog {
        width: 345px;
        height: 350px; } }

@keyframes animacion-blog {
  0% {
    filter: grayscale(50%); }
  25% {
    filter: grayscale(40%); }
  50% {
    filter: grayscale(30%); }
  75% {
    filter: grayscale(20%); }
  100% {
    filter: grayscale(0%); } }
  .main-blog .blog-article h3 {
    margin-top: 1rem; }
  .main-blog .blog-article .texto-blog {
    width: 60%;
    margin-top: 20px;
    color: #ebebeb;
    text-align: center;
    font-size: 17px; }
  .main-blog .blog-article .lista-blog {
    color: #86edcd;
    font-size: 17px;
    text-align: left;
    list-style-type: decimal; }

/* Main Tabs */
.main-tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-tabs .tab h2 {
    text-align: center;
    color: #ebebeb;
    margin-top: 20px; }
  .main-tabs .tab img {
    width: 60%;
    padding: 20px;
    margin-left: 20%; }
  .main-tabs .tab .video-tabs {
    margin-left: 31%; }
    @media screen and (max-width: 992px) {
      .main-tabs .tab .video-tabs {
        margin-left: 23%; } }
    @media screen and (max-width: 576px) {
      .main-tabs .tab .video-tabs {
        margin-left: 9%; } }
    @media screen and (max-width: 992px) {
      .main-tabs .tab .video-tabs iframe {
        width: 70%; } }
    @media screen and (max-width: 576px) {
      .main-tabs .tab .video-tabs iframe {
        width: 90%; } }
  .main-tabs .tab .tab-dos img {
    width: 50%;
    margin-left: 25%; }
    @media screen and (max-width: 992px) {
      .main-tabs .tab .tab-dos img {
        width: 60%;
        margin-left: 20%; } }
    @media screen and (max-width: 576px) {
      .main-tabs .tab .tab-dos img {
        width: 80%;
        margin-left: 10%; } }

/* Main Contacto */
.contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contacto h2 {
    margin-top: 2rem; }
    @media screen and (max-width: 420px) {
      .contacto h2 {
        margin-left: 1.5rem; } }
  .contacto .article-form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contacto .article-form .form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      margin-top: 30px;
      width: 300px;
      background-color: #999;
      padding: 1rem;
      border-radius: 3%;
      box-shadow: 2px 2px 10px #007a49; }
      .contacto .article-form .form label {
        color: black;
        font-size: 20px; }
      .contacto .article-form .form .input {
        width: 220px;
        height: 20px; }
      .contacto .article-form .form .button {
        width: 100px;
        background-color: #55b999;
        border-radius: 10%;
        box-shadow: 1px 1px 3px;
        margin-left: 23%;
        margin-top: 2rem;
        margin-bottom: 1rem; }
        .contacto .article-form .form .button:hover {
          cursor: pointer; }
      .contacto .article-form .form p {
        margin-top: 0.5rem;
        margin-bottom: 0;
        color: black;
        font-size: 20px; }
      .contacto .article-form .form textarea {
        width: 220px; }
  .contacto .follow {
    width: 100%;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 5rem; }
    .contacto .follow .contacto-redes {
      width: 60%;
      display: inline;
      margin-top: 40px;
      margin-left: 2%; }
      .contacto .follow .contacto-redes .img-redes2 {
        width: 60px;
        height: 60px;
        margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 10px; }
        .contacto .follow .contacto-redes .img-redes2:hover {
          opacity: 0.8;
          scale: 0.9;
          transition: 250ms; }
      .contacto .follow .contacto-redes .youtube2 {
        width: 70px;
        height: 70px;
        margin-bottom: 6px; }

/* Footer */
footer {
  width: 100%;
  background-image: url("../multimedia/background.jpg");
  padding: 5px; }
  footer .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .footer-flex ul {
      margin-left: 10%;
      margin-top: 20px; }
      @media screen and (max-width: 576px) {
        footer .footer-flex ul {
          margin-left: 3%; } }
      footer .footer-flex ul li {
        margin-bottom: 4px; }
        footer .footer-flex ul li a {
          color: #55b999;
          font-size: 17px; }
  footer .redes {
    margin-right: 10%; }
    @media screen and (max-width: 576px) {
      footer .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    footer .redes .img-redes {
      width: 30px;
      height: 30px;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 10px; }
      footer .redes .img-redes:hover {
        opacity: 0.6;
        scale: 0.95;
        transition: 200ms; }
      @media screen and (max-width: 576px) {
        footer .redes .img-redes {
          margin-bottom: 0px; } }
    footer .redes .youtube {
      width: 35px;
      height: 40px;
      margin-bottom: 6px; }
  footer p {
    color: #ebebeb;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.2rem; }
