* {
  margin: 0;
  padding: 0; }

/* Estilos Basicos */
body {
  background-color: black;
  font-family: "Abel", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h1 {
  color: #55b999;
  font-size: 25px; }

h2 {
  color: #55b999;
  font-size: 20px; }

h3 {
  color: #ebebeb;
  font-size: 15px; }

.link {
  color: #55b999; }

label {
  color: #ebebeb;
  font-size: 17px; }

.contacto h2, .contacto .follow h3 {
  color: #ebebeb;
  font-size: 17px; }

main .bio .parrafo-main p a:hover {
  color: #86edcd;
  cursor: pointer;
  transition: 300ms; }

.main-tabs h1, .contacto h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px; }

.videos .canales-yt .canal-a img:hover, .videos .canales-yt .canal-bs img:hover {
  opacity: 0.8;
  filter: grayscale(100%);
  scale: 0.95;
  transition: 200ms; }

/* Header */
.header {
  position: sticky;
  top: 0px;
  z-index: 1; }
  .header .bg-menu {
    /* background-image: url("../multimedia/background.jpg"); */
    background-color: #131212;
    font-family: "Abel", sans-serif;
    width: 100%; }
    .header .bg-menu .nombre-nav {
      color: #55b999;
      font-size: 25px; }
      .header .bg-menu .nombre-nav:hover {
        color: #86edcd;
        scale: 0.98;
        transition: 350ms; }
    .header .bg-menu .font-nav {
      color: #ebebeb;
      font-size: 20px; }
      .header .bg-menu .font-nav:hover {
        color: #55b999;
        scale: 0.98;
        transition: 350ms; }
    .header .bg-menu .nav-item {
      margin-right: 3rem; }

/* Main Index */
main .bio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 2rem; }
  @media screen and (max-width: 992px) {
    main .bio {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 0; } }
  main .bio .titulo-bio {
    margin-left: 32%;
    margin-top: 3rem;
    font-size: 60px; }
    @media screen and (max-width: 992px) {
      main .bio .titulo-bio {
        margin-left: 0;
        margin-top: 3rem; } }
  main .bio .parrafo-main {
    color: #ebebeb;
    text-align: left;
    font-size: 20px;
    grid-row-start: 2;
    margin-left: 32%; }
    @media screen and (max-width: 992px) {
      main .bio .parrafo-main {
        width: 50%;
        text-align: center;
        grid-row-start: 2;
        margin-left: 0; } }
  main .bio .foto-main {
    grid-row: span 3;
    margin-top: 6rem; }
    @media screen and (max-width: 992px) {
      main .bio .foto-main {
        margin-top: 1rem;
        grid-row-start: 3; } }
    @media screen and (max-width: 576px) {
      main .bio .foto-main {
        grid-row-start: 4;
        margin-bottom: 2rem;
        display: none; } }
    main .bio .foto-main img {
      width: 60%;
      margin-top: 4rem;
      margin-left: 10%;
      border-radius: 5%;
      box-shadow: 2px 2px 5px #161616; }
      @media screen and (max-width: 992px) {
        main .bio .foto-main img {
          width: 35%;
          margin-left: 34%;
          margin-top: 0px; } }
  main .bio .spotify {
    grid-row-start: 3;
    margin-left: 34%;
    margin-top: 2rem; }
    @media screen and (max-width: 992px) {
      main .bio .spotify {
        grid-row-start: 4;
        margin-top: 3rem;
        margin-left: 3%; } }
    @media screen and (max-width: 576px) {
      main .bio .spotify {
        grid-row-start: 3; } }
    main .bio .spotify h2 {
      text-align: center;
      color: #ebebeb; }
    main .bio .spotify .spotify-player {
      width: 100%; }
      @media screen and (max-width: 992px) {
        main .bio .spotify .spotify-player {
          width: 100%;
          height: 20rem; } }
  main .bio .noticias {
    grid-row-start: 5;
    grid-column: span 2; }
    main .bio .noticias h2 {
      text-align: center;
      font-size: 40px; }
      @media screen and (max-width: 992px) {
        main .bio .noticias h2 {
          margin-top: 2rem; } }
    main .bio .noticias .texto-noticias {
      margin-top: 20px;
      margin-left: 20%;
      margin-right: 20%;
      padding: 10px;
      color: #ebebeb;
      text-align: center;
      font-size: 20px;
      overflow: auto; }
      main .bio .noticias .texto-noticias a {
        color: #55b999; }
        main .bio .noticias .texto-noticias a:hover {
          color: #86edcd;
          transition: 350ms; }
    main .bio .noticias .img-noticias img {
      width: 40%;
      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: 29%;
      border-radius: 5%;
      box-shadow: 2px 2px 5px #161616; }
      @media screen and (max-width: 992px) {
        main .bio .noticias .img-noticias img {
          width: 45%;
          margin-left: 28%; } }
      @media screen and (max-width: 576px) {
        main .bio .noticias .img-noticias img {
          display: none; } }

/* Main Videos */
.videos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .videos .titulo-video {
    font-size: 50px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem; }
  .videos .subtitulo {
    font-size: 25px;
    text-align: center;
    color: #ebebeb;
    padding: 10px;
    margin-bottom: 3rem;
    margin-top: 10px; }
  .videos .canales-yt {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem; }
    @media screen and (max-width: 992px) {
      .videos .canales-yt {
        flex-direction: column; } }
    .videos .canales-yt .canal-a img {
      width: 410px;
      height: 300px;
      margin-left: 25px; }
      @media screen and (max-width: 992px) {
        .videos .canales-yt .canal-a img {
          width: 100%;
          margin-left: 0;
          margin-bottom: 2rem; } }
    .videos .canales-yt .canal-bs img {
      width: 440px;
      height: 300px;
      margin-left: 4.5rem; }
      @media screen and (max-width: 992px) {
        .videos .canales-yt .canal-bs img {
          width: 100%;
          margin-left: 0; } }
  .videos .iframes {
    display: flex;
    margin-bottom: 10rem; }
    @media screen and (max-width: 992px) {
      .videos .iframes {
        flex-direction: column;
        align-items: center; } }
    .videos .iframes iframe {
      width: 490px;
      height: 350px;
      margin-left: 1rem;
      padding: 1rem; }
      @media screen and (max-width: 420px) {
        .videos .iframes iframe {
          margin-left: 0;
          width: 350px; } }

/* Main Tabs */
.main-tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-tabs article {
    margin-bottom: 3rem; }
  .main-tabs .tab {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-tabs .tab h2 {
      text-align: center;
      color: #ebebeb;
      margin-top: 20px; }
    .main-tabs .tab img {
      width: 80%;
      padding: 20px;
      /*  margin-left: 10%; */ }
      @media screen and (max-width: 576px) {
        .main-tabs .tab img {
          width: 100%;
          margin-left: 0;
          padding: 0; } }
    @media screen and (max-width: 576px) {
      .main-tabs .tab .video-tabs-bs {
        /* margin-left: 9%; */ } }
    .main-tabs .tab .video-tabs-bs iframe {
      /*       @include tablet{
                        width: 80%;
                      }
 */ }
      @media screen and (max-width: 576px) {
        .main-tabs .tab .video-tabs-bs iframe {
          width: 90%; } }
    .main-tabs .tab .tab-bs {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem; }
      .main-tabs .tab .tab-bs .tab-ctc {
        width: 60%; }
        @media screen and (max-width: 576px) {
          .main-tabs .tab .tab-bs .tab-ctc {
            width: 100%;
            margin-left: 0; } }
    .main-tabs .tab .video-tabs iframe {
      /*       @include tablet{
                      width: 80%;
                    } */ }
      @media screen and (max-width: 576px) {
        .main-tabs .tab .video-tabs iframe {
          width: 90%; } }
    .main-tabs .tab .tab-dos {
      display: flex;
      justify-content: center; }
      .main-tabs .tab .tab-dos img {
        width: 50%;
        margin-bottom: 1rem; }
        @media screen and (max-width: 992px) {
          .main-tabs .tab .tab-dos img {
            width: 80%; } }
        @media screen and (max-width: 576px) {
          .main-tabs .tab .tab-dos img {
            width: 100%;
            margin-left: 0; } }
      .main-tabs .tab .tab-dos .tab-stringskip {
        width: 75%; }

/* Main Contacto */
.contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .contacto h2 {
    margin-top: 2rem; }
    @media screen and (max-width: 420px) {
      .contacto h2 {
        margin-left: 1.5rem; } }
  .contacto .follow {
    width: 100%;
    margin-bottom: 20rem;
    margin-top: 5rem; }
    .contacto .follow h3 {
      text-align: center; }
    .contacto .follow .contacto-redes {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px; }
      @media screen and (max-width: 576px) {
        .contacto .follow .contacto-redes {
          justify-content: space-around; } }
      .contacto .follow .contacto-redes .img-redes2 {
        width: 60px;
        height: 60px;
        margin-top: 40px;
        margin-right: 38px;
        margin-bottom: 10px;
        margin-left: 3rem; }
        @media screen and (max-width: 576px) {
          .contacto .follow .contacto-redes .img-redes2 {
            margin-right: 0;
            margin-left: 0; } }
        .contacto .follow .contacto-redes .img-redes2:hover {
          opacity: 0.8;
          scale: 0.9;
          transition: 250ms; }
      .contacto .follow .contacto-redes .youtube2 {
        width: 70px;
        height: 70px;
        margin-bottom: 6px; }

/* Footer */
footer {
  width: 100%;
  height: 190px;
  background-color: #131212;
  /*  background-image: url("../multimedia/background.jpg"); */ }
  footer .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem; }
  footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem; }
    footer .redes .img-redes {
      width: 30px;
      height: 30px;
      margin-top: 20px; }
      footer .redes .img-redes:hover {
        opacity: 0.6;
        scale: 0.95;
        transition: 200ms; }
    footer .redes .youtube {
      width: 35px;
      height: 40px;
      margin-bottom: 6px; }
  footer p {
    color: #ebebeb;
    font-size: 12px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem; }
