/* Footer */

footer{
    width: 100%;
    
    background-image: url("../multimedia/background.jpg");
    padding: 5px;

    .footer-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        ul{
            margin-left: 10%;
            margin-top: 20px;

            @include mobile{
                margin-left: 1%;
            }

            li{
                margin-bottom: 4px;

                a{
                    color: #55b999;
                    font-size: 17px;

                    &:hover{
                        @extend %hover-links;
                        
                    }
                }
            }
        }
    }

    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10%;

        @include tablet{
            margin-right: 10%;
        }

        @include mobile{
            margin-right: 1%;
        }



        .img-redes{
            width: 30px;
            height: 30px;
            margin-top: 20px;
            margin-right: 2.5rem;
            
            
            &:hover{
                opacity: 0.6;
                scale: 0.95;
                transition: 200ms;

              }

            @include mobile{
                margin-bottom: 0px;
                margin-right: 2rem;
            }

         
        }

        .youtube{
            width: 35px;
            height: 40px;
            margin-bottom: 6px;

           
        }
    }

    

    
    p{
        color: #ebebeb;
        font-size: 12px;
        text-align: center;
        margin-bottom: 0.2rem;

     
        

    }
    
}