/* Main Index */

main {
    .bio {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      gap: 2rem;
  
      @include tablet{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;
      }
        
  
      .titulo-bio {
        margin-left: 32%;
        margin-top: 3rem;
        font-size: 60px;
  
        @include tablet{
          margin-left: 0;
          margin-top: 3rem;
        }
      }
  
      .parrafo-main {
        color: #ebebeb;
        text-align: left;
        font-size: 17px;
        grid-row-start: 2;
        margin-left: 32%;
  
        @include tablet{
          width: 50%;
          text-align: center;
          grid-row-start: 2;
          margin-left: 0;
        }
  
        p {
          a {
            &:hover {
              @extend %hover-links;
              
              
            }
          }
        }
      }
  
      .foto-main {
        grid-row: span 3;
        margin-top: 6rem;
  
        @include tablet{
          margin-top: 1rem;
          grid-row-start: 3;
        }
  
        @include mobile{
          grid-row-start: 4;
          margin-bottom: 2rem;
          display: none;
        }
  
        img {
          width: 60%;
          margin-top: 1rem;
          margin-left: 10%;
          border-radius: 5%;
          box-shadow: 2px 2px 5px rgb(22, 22, 22);
  
          @include tablet{
            width: 35%;
            margin-left: 34%;
            margin-top: 0px;
          }
        }
      }
  
      .spotify {
        grid-row-start: 3;
        margin-left: 34%;
        margin-top: 2rem;
  
        @include tablet{
          grid-row-start: 4;
          margin-top: 3rem;
          margin-left: 3%;
     
        }
  
        @include mobile{
          grid-row-start: 3;
          
         
        }
  
        h2 {
          text-align: center;
          color: #ebebeb;
        }
  
        .spotify-player {
          width: 100%;
  
          @include tablet{
            width: 100%;
            height: 20rem;
            
          }
            
        }
      }
  
      .noticias {
        grid-row-start: 5;
        grid-column: span 2;
  
   
  
        h2 {
          text-align: center;
          font-size: 40px;
  
          @include tablet{
            margin-top: 2rem;
          }
        }
  
        .texto-noticias {
          margin-top: 20px;
          margin-left: 20%;
          margin-right: 20%;
          padding: 10px;
          color: #ebebeb;
          text-align: center;
          font-size: 17px;
          overflow: auto;

            a{
              color: #55b999;
              &:hover{
                color: #86edcd;
                transition: 350ms;
              }
            }
        }

        .img-noticias{

          img{
            width: 40%;
            margin-top: 1rem;
            margin-bottom: 2rem;
            margin-left: 29%; 
            border-radius: 5%;
            box-shadow: 2px 2px 5px rgb(22, 22, 22);
         

             @include tablet{
              width: 45%;
              margin-left: 28%;
            } 

            @include mobile{
              display: none;
            }
          }
        

        }
      }
    }
  }
  
  
  
  
  /* Main Videos */
  
  .videos {
    width: 100%;
    
  
    @include flex;
  
    .titulo-video {
      font-size: 50px;
  
      text-align: center;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    .subtitulo {
      font-size: 25px;
      text-align: center;
      color: #ebebeb;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  
    .canales-yt {
      display: flex;
      flex-direction: row;
  
      @include tablet {
        flex-direction: column;
        padding-left: 30%;
        padding-right: 30%;
      }

      @include mobile{
        padding-left: 20%;
        padding-right: 20%;

      }
  
      .canal-a{
  
           img {
              width: 310px;
              height: 200px;
              margin-left: 25px;
  
                &:hover{
                  @extend %hover-youtube;
  
                }
  
              @include tablet{
                width: 100%;
                margin-left: 0;
                margin-bottom: 2rem;
              }
 
            }    
      }
  
      .canal-bs {
  
          img {
            width: 340px;
            height: 200px;
            margin-left: 4.5rem;
  
            &:hover{
              @extend %hover-youtube;
  
            }
  
            @include tablet{
              width: 100%;
              margin-left: 0;
              
  
            }
  
           
        }
      } 
    }
  
    .iframes {
      display: flex;
    
      
      @include tablet{
        flex-direction: column;
        align-items: center;
      }
  
      iframe {
        width: 390px;
        height: 250px;
        margin-left: 1rem;
        padding: 1rem;
  
        @include mobile-small{
          margin-left: 0;
          width: 350px;
        }
      }
  
     
  
  
    }
  }
  
  /* Main Blog */
  
  .main-blog {
    .titulo-blog {
      @extend %titulo-pages
    }
  
    .blog-article {
      width: 100%;
      @include flex;
  
      .subtitulo-blog {
        font-size: 25px;
        text-align: center;
        color: #ebebeb;
        padding: 10px;
        margin-bottom: 10px;
      }
  
      .img-blog {
        width: 400px;
        height: 400px;
  
        @include mobile-small{
          width: 345px ;
          height: 350px;
        }
        
  
        animation: animacion-blog 6s infinite ;
  
        @keyframes animacion-blog {
          0%{
            filter: grayscale(50%);
          }
  
          25%{
            filter: grayscale(40%);
          }
  
          50%{
            filter: grayscale(30%);
          }
  
          75%{
            filter: grayscale(20%);
          }
          
  
          100%{
            filter: grayscale(0%);
          }
          
        }
      }
  
      h3 {
        margin-top: 1rem;
      }
  
      .texto-blog {
        width: 60%;
        margin-top: 20px;
        color: #ebebeb;
        text-align: center;
        font-size: 17px;
      }
  
      .lista-blog {
        color: #86edcd;
        font-size: 17px;
        text-align: left;
        list-style-type: decimal;
      }
    }
  }
  
  /* Main Tabs */
  
  .main-tabs{
  
      width: 100%;
      @include flex;
  
      h1{
          @extend %titulo-pages
      }
  
      .tab{
  
          h2{
              text-align: center;
              color: #ebebeb;
              margin-top: 20px;
          }
  
          img {
              width: 60%;
              padding: 20px;
              margin-left: 20%;

              @include mobile{
                width: 100%;
                margin-left: 0 ;
                padding: 0;
              }
            }
  
          .video-tabs{
  
              margin-left: 35%;

              @include screen{
                margin-left: 31%;
              }
  
              @include tablet{
                  margin-left: 16%;
              }
  
              @include mobile{
                margin-left: 9%;
              }
  
                  iframe{
                    @include tablet{
                      width: 80%;
                    }
  
                    @include mobile{
                      width: 90%;
                    }
                  }
          }
  
          .tab-dos{
              
              img{
                  width: 50%;
                  margin-left: 25%;
  
                  @include tablet{
                    width: 80%;
                    margin-left: 10%;
                  }
  
                  @include mobile{
                    width: 100%;
                    margin-left: 0;
                  }
              }
          }
      }
  
  }
  
  
  /* Main Contacto */
  
  .contacto{
  
      @include flex;
  
      h1{
          @extend %titulo-pages 
      }
  
      h2{
          margin-top: 2rem;
           @extend %texto-general;
  
          @include mobile-small{
            margin-left: 1.5rem;
            
          }
  
          
      }
  
      .article-form{
          margin: 0;
          @include flex;
  
          .form{
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              align-content: center;
              margin-top: 30px;
              width: 400px;
              background-color: #5d5c5c;
              padding: 1rem;
              border-radius: 3%;
              box-shadow: 2px 2px 10px #015735;

              @include mobile{
                width: 280px;
              }
  
              label{
                color: black;
                font-size: 20px;
              }
  
              .input{
                  width: 250px;
                  height: 25px;
  
                 
              }
  
              .button {
                  width: 100px;
                  background-color: #55b999;
                  border-radius: 10%;
                  box-shadow: 1px 1px 3px;
                  margin-left: 21%;
                  margin-top: 2rem;
                  margin-bottom: 1rem;

                  @include mobile {
                    margin-left: 32%;
                  }
  
  
                      &:hover{
                          cursor: pointer;
                      }
                  
          
                }
              
                p{
                  margin-top: 0.5rem;
                  margin-bottom: 0;
                  color: black;
                  font-size: 20px;
                }
             
              
              textarea {
                
                  width: 250px;
                }
          }
      
      
      }
  
      .follow{

          width: 100%;
          margin-bottom: 10rem;
          margin-top: 5rem;

          h3{
            @extend %texto-general;
            text-align: center;
          }
          
          .contacto-redes {
             
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 40px;
             


              @include mobile{
                justify-content: space-around;
                
              }
  
  
              .img-redes2 {
                  width: 60px;
                  height: 60px;
                  margin-top: 40px;
                  margin-right: 38px;
                  margin-bottom: 10px;
                  margin-left: 3rem;

                  @include mobile{
                    margin-right: 0;
                    margin-left: 0;
                  }
  
                    &:hover{
                      opacity: 0.8;
                      scale: 0.9;
                      transition: 250ms;
                    }

  
                   
                }
  
              .youtube2 {
                  width: 70px;
                  height: 70px;
                  margin-bottom: 6px;
                  
                }
              
            }
      }
  }
  