
*{
    margin: 0;
    padding: 0;
}




/* Estilos Basicos */

body{
    background-color: black;
    font-family: "Abel", sans-serif;
  }

a{
    text-decoration: none;
  }

ul{
    list-style-type: none;
  }

h1{
    color: #55b999;
    font-size: 25px;
  }

h2 {
    color: #55b999;
    font-size: 20px;
  }

h3 {
    color: #ebebeb;
    font-size: 15px;
  }

.link {
    color: #55b999;
  }

label {
    color: #ebebeb;
  
    font-size: 17px;
  }